*{
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted #DE2E54;
    outline-offset: 2px;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1160px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* SITE HEADER */
.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}

/* SITE HEADER CONTAINER */
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* SITE LOGO */
.site-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
    font-size: 24px;
    font-weight: 600;
}


.site-footer-logo{
    color: #fff;
}

.site-footer-logo:hover{
    color: #DE2E54;
}

.site-footer-logo:active{
    color: #fff;
    opacity: 0.6;
}

.site-logo:active{
    opacity: 0.6;
}

.site-logo-img{
    margin-right: 16px;
}

/* SITENAV */
.sitenav{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.sitenav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

}

.sitenav-item:not(:last-child){
    margin-right: 32px;
}

.sitenav-link{
    color: #222;
    display: block;
    text-decoration: none;
}

.sitenav-link:hover{
    color: #DE2E54
}

.sitenav-link:active{
    opacity: 0.6;
}


.sitenav-site-footer .sitenav-link{
    color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
    color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
    color: #fff;
}


/* MAIN LINK */
.main-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #DE2E54;
    color: #fff;
    font-family: 'Open Sans Condensed/', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 8px;
    padding: 10px 22px;
    border: 2px solid #DE2E54;
}

.main-btn:hover{
    background-color: white;
    color: #DE2E54;
    border-color: #DE2E54;
}

.main-btn:active{
    background-color: #DE2E54;
    color: #fff;
    opacity: 0.6;
}


.main-btn-solid:hover{
    border-color: transparent;
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
}

.main-btn-solid:active{
    background-color: rgba(222, 46, 84, 0.6);
    opacity: 1;
}

/* HERO */
.hero{
    background-color: #0eb4c1;
    color: #fff;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.hero-content{
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-heading{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 1.2;
}

.hero-text{
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img{
    align-self: flex-end;
}


/* INDEX SERVICES */

.index-services{
    padding-top: 120px;
    padding-bottom: 120px;
}

.index-services-heading{
    margin-top: 0;
    text-align: center;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 56px;
}

.index-services-list{
    width: 864px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}

.index-services-item:not(:last-child){
    margin-bottom: 80px;
}

.index-service{
    display: flex;
    align-items: center;
}

.index-sevice-img{
    margin-right: 64px;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.index-servis-content{
    width: 600px;
}

.index-services-heading{
    margin-top: 0;
    margin-bottom: 24px;
    color: #222;
}

.index-service-desription{
    margin: 0;
    color: #444;
}

.index-services-actions{
    display: flex;
    justify-content: center;
}


/* SITE FOOTER */
.site-footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
}

/* SITE FOOTER CONTAINER */
.site-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
